<!DOCTYPE html>
<html>
  <head>  
    <title> ThoughtWorks Memory Game
    </title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/css1.css" rel="stylesheet"  type="text/css"> </link>
  </head>
  <body>
		<nav>
			<ul> 
			<li><a href="index.html"> Home </a> </li>
			<li><a href="tw.html"> ThoughtWorkers  </a> </li>
			<li><a href="dev.html"> Developers </a> </li>
			</ul>
		</nav>
		
		<h1>
			Welcome To ThoughtWorks Memory Game
		</h1>
			
    <form method='post' action='/guess'>
			<table>
        <% game.grid.each_with_index do |row, row_number| %>
          <tr>
            <% row.each_with_index do |card, column_number| %>
              <th>
                <% if card.selected? %>
                  <% # TODO %>
                  <% # formatting is a little confused when a card is selected %>
                  <% # make it look however you want%>
                  <input type='radio' checked='#{card.selected?}' name='<%="#{row_number}_#{column_number}"%>'>
                  <%= card.name %>
                <% else %>
                  <% # TODO %>
                  <% # display the default card view %>
                  <% # don't show name %>
                  <input type='radio' name='<%="#{row_number}_#{column_number}"%>'>
                <% end %> 
              </th>
            <%end%>
			  </tr>
      <%end%>
			</table>
      <input type='submit' value="Guess">
    </form>
  </body>
</html>


